.modalBackground {
    background-color: rgba(51, 51, 51, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalContainer {
    width: 700px;
    height: 550px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    position: relative;
}

.modalFooter,
.modalFooter1 {
    align-items: center;
    justify-content: center;
}

.close-icon {
    position: absolute;
    color: #aaa;
    font-weight: bold;
    font-size: 28px;
    top: 8px;
    right: 16px;
}

.close-icon:hover,
.close-icon:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-text {
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    color: black;
    margin: 20px auto 1px;
    width: 70%;
    padding: 8px 12px;
    display: block;
    font-size: 18px;
}

.input {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.modalBody {
    margin: 0px auto;
    width: 60%;
    /* display: flex; */
}

.add-cate__label {
    color: white;
    background-color: #857ED4;
    height: 50px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 32px;
    cursor: pointer;
    width: 75%;
    display: block;
}

.add-cate__img {
    height: 200px;
    width: 200px;
    display: block;
    margin: 10px auto;
    text-align: center;
}

.modalFooter {
    margin: 50px auto 8px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: end;
}

.modalFooter1 {
    margin: 30px auto 8px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: end;
}

.buton-add,
.button-edit,
.button-delete {
    background: #9933FF;
    padding: 12px 0;
    color: #fff;
    width: 100px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.button-edit {
    background: #06c506;
}

.button-delete {
    background: #b61111;
}