.logo {
    display: inline-block;
    margin-left: 40px;
    background-image: url('/src/assets/images/logo-01.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 50px;
}