.teacher-1 {
    background-image: url('../../../../assets/images/teacher-1.jpg');
}

.teacher-2 {
    background-image: url('../../../../assets/images/teacher-4.jpg');
}

.teacher-3 {
    background-image: url('../../../../assets/images/teacher-3.jpg');
}

.teacher-4 {
    background-image: url('../../../../assets/images/teacher-6.jpg');
}

.teacher-5 {
    background-image: url('../../../../assets/images/teacher-5.jpg');
}

.teacher-6 {
    background-image: url('../../../../assets/images/teacher-2.jpg');
}

.teacher-7 {
    background-image: url('../../../../assets/images/teacher-7.jpg');
}

.teacher-8 {
    background-image: url('../../../../assets/images/teacher-8.jpg');
}